<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="Dao" class="ma.enset.DAO.DaoImpl"/>
    <bean id="Metier" class="ma.enset.services.MetierImpl">
        <property name="dao" ref="Dao"/>
    </bean>
</beans>